.chat__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100%;
}

@media (max-width: 700px) {
  .chat__intro.inactive {
    display: none;
  }
}

.chat__intro > .MuiAvatar-circle {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.name {
  margin-bottom: 100px;
  font-size: 32px;
}
